.carousel1st{
    margin: 2rem;
    width: 25%;
    margin-left: 150px;
    height: 90vh;
}
.bgimg{
    background-image: url(../images/bg\ img.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.headline{
    padding: 10%;
    padding-bottom: 0%;
    font-size: 3.5rem;
}
.headline strong{
    font-size: 80px;
}

.loremline{
    padding: 1% 12%;
}
.imgcar{
    height: 500px !important;
    border-radius: 5px;
}
.d-flex{
    padding: 0% 8%;
    flex-wrap: wrap;
}
.search{
    width: 310px;
    margin-left: 15px;
}
.btn{
    background-color: yellow;
    color: gray;
    border: 1px solid gray;
}
.btnsearch{
    margin: 0px;
}
.btn:hover{
    box-shadow: 5px 5px 10px grey;
}
.addcardicon{
    position: fixed;
    right: 5%;
    bottom: 10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    padding: 14px;
    background-color: rgb(228, 227, 227);
    box-shadow: 1px 1px 10px;
    z-index: 99;
  }
  .addcardicon:hover{
    scale: 1.1;
  }
  .cartcount{
    background-color: rgb(233, 205, 133);
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
@media screen and (min-width:768px) and (max-width :1023px) {
    .btnsearch{
        margin: auto ;
    }
}
