@media screen and (max-width :768px) {
    .loremline{
        display: none;
    }
    .search{
        margin: 3% auto;
    }
    .btn{
        display: block;
        margin: auto;
    }
    .carousel1st{
        width: 75%;
        display: block;
        margin: 3% auto;
        /* margin-left: auto; */
        height: auto !important;
    }
    .carousel img{
        height: auto;
    }

    /* Cardsec */

    .cardsec {
        width: 16rem !important;
        display: block !important;
        margin: 5% auto !important;
    }

    /* Bestseller */

    .col-md-3{
        margin: .3rem;

    }

    /* Flashseller */
    .lorem{
        margin: 0%;
    }
    .flashcarousel {
        width: 100% !important;
        margin-left: 0px !important;
        margin: 3%;
    }
    /* bookDetails */
    .container{
        flex-wrap: wrap !important;
    }
}